:root {
    --main-color: #56cfe1;
    --hover-main-color: #007e91;
    --text: #222222;
    --tooltip-boder-color: #383838;
    --dust: #999999;
    --winkle: #BFD9FF;
    --dark: #000;
    --cream: #FFE49E;
    --whisper: #EEEEEE;
    --dove: #666666;
    --rock: #10052F;
    --white: #fff;
    --gray: #F5F6F8;
    --pink: #FFD5C5;
    --blue: #4777DC;
    --mercury : #E9E9E9;
    --alabaster : #F8F8F8;
}

body {
    font-family: 'Jost', sans-serif;
}

/* globals start */
.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-900 {
    font-weight: 900;
}

.py-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.py-11 {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}
.py-12 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
.py-13 {
    padding-top: 13px !important;
    padding-bottom: 13px !important;
}
.px-12 {
    padding-left: 12px!important;
    padding-right: 12px!important;
}
.py-21 {
    padding-top: 21px !important;
    padding-bottom: 21px !important;
}
.me-12 {
    margin-right: 12px!important;
}
.mb-12 {
    margin-bottom: 12px!important;
}

/* colors start */
.bg-pink {
    background-color: var(--pink);
}

.text-pink {
    color: var(--pink);
}

.text-winkle {
    color: var(--winkle);
}
.bg-alabaster {
    background-color: var(--alabaster);
}
.bg-blue {
    background-color: #4777DC;
}

.bg-rock {
    background-color: var(--rock);
}

.text-blue {
    color: #4777DC;
}

.bg-gray {
    background-color: var(--gray);
}

.text-gray {
    color: var(--gray);
}
.text-mercury {
    color: var(--mercury);
}

.bg-dove {
    background-color: var(--dove);
}

.text-dove {
    color: var(--dove);
}

.text-dark {
    color: var(--dark) !important;
}

.bg-dust {
    background-color: var(--dust);
}

.text-dust {
    color: var(--dust)
}

.bg-mercury {
    background-color: #E6E6E6;
}

.text-mercury {
    color: #E6E6E6;
}

.bg-whisper {
    background-color: var(--whisper);
}

.text-whisper {
    color: var(--whisper);
}

.border-whisper {
    border-color: var(--whisper);
}

.bg-green {
    background-color: #2DCB48;
}

.text-green {
    color: #2DCB48;
}

.text-woodsmoke {
    color: #151517;
}

.bg-yellow {
    background-color: #FFCC00;
}

.text-yellow {
    color: #FFCC00;
}

.bg-red {
    background-color: #F43319;
}

.text-red {
    color: #F43319;
}

.bg-black {
    background-color: #000000 !important;
}

.text-black {
    color: #000 !important;
}

.btn-black {
    background-color: #000;
    color: #fff !important;
}
.btn-whisper {
    border-color:var(--whisper);
}

.color-box {
    width: 120px;
    height: 120px;
}

/* colors end */

/* font sizes start */
.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}
.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

/* font sizes end */

/* buttons start */
.btn-default {
    background: #FFFFFF;
    border: 2px solid var(--dark);
    color: var(--dark);
    font-weight: 500;
}

.btn-outline-light {
    color: var(--dark);
    background: #FFFFFF;
    border: 2px solid #EEEEEE;
    font-weight: 500;
}

/* sidebar start */
.mask-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1051;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: opacity .25s ease, visibility 0s ease .25s;
    transition: opacity .25s ease, visibility 0s ease .25s;
}

.mask-overlay.show {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .25s ease, visibility 0s ease;
    transition: opacity .25s ease, visibility 0s ease;
}

.mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-box-shadow: 0 0 10px 0 #00000080;
            box-shadow: 0 0 10px 0 #00000080;
    display: block;
    z-index: 1052;
    right: auto;
    left: 0;
    -webkit-transform: translate3d(-104%, 0, 0);
            transform: translate3d(-104%, 0, 0);
}

.mobile-menu.show {
    -webkit-transform: none;
    transform: none;
}

.mobile-menu .nav-tabs {
    background-color: rgba(0, 0, 0, .04);
    border-bottom: 1px solid rgba(129, 129, 129, .2);
}

.mobile-menu .nav-link {
    text-transform: uppercase;
    letter-spacing: .3px;
    font-weight: 500;
    font-size: 12px;
    color: #222 !important;
    padding: 5px 10px;
    height: 55px;
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    cursor: pointer;
}

.mobile-menu .nav-link:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -1px;
    width: 0;
    height: 2px;
    -webkit-transition: width .25s ease;
    transition: width .25s ease;
    background-color: var(--blue);
}

.mobile-menu .nav-item:first-child .nav-link:after {
    right: 0;
    left: auto;
}

.mobile-menu .nav-link.active:after {
    width: 100%;
}

.mobile-menu .nav-link.active {
    background-color: rgba(0, 0, 0, .05);
}


.sidebar-menu .right-arrow {
    width: 12px;
    height: 12px;
    position: relative;
    display: block;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
}

ul.sidebar-menu>li>a,
.sidebar-menu .sub-menu li>a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: 5px 20px;
    min-height: 50px;
    border-bottom: 1px solid rgba(129, 129, 129, .2);
    color: #222;
    font-size: 14px;
    text-align: left;
    line-height: 1.3;
    text-decoration: none;
}

.sidebar-menu .sub-menu li>a {
    color: #878787;
    padding-left: 30px;
}

.sidebar-menu .sub-menu li>a>.right-arrow {
    color: #222;
}

.sidebar-menu .sub-two li>a {
    padding-left: 40px
}

.sidebar-menu .right-arrow:before,
.sidebar-menu .right-arrow:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
    background-color: currentColor;
    transition: transform .35s ease-in-out, opacity .35s ease-in-out, -webkit-transform .35s ease-in-out
}

.mobile-menu a[aria-expanded=true] {
    background-color: #0000000a;
}

.mobile-menu a[aria-expanded=true] .right-arrow:before {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
}

.mobile-menu a[aria-expanded=true] .right-arrow:after {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
}

.sidebar-menu .right-arrow:after {
    width: 1px;
    height: 12px;
    opacity: 1;
}

.sidebar-menu .right-arrow:before {
    width: 12px;
    height: 1px;
    opacity: 1;
}

a.close-btn {
    position: fixed;
    top: 0;
    font-size: 30px;
    background-color: #222;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    z-index: 10;
}

/* sidebar end */

/* header start */
.nav-logo {
    display: inline-block;
    aspect-ratio: 153/41;
}
.currencies .dropdown-menu {
    min-width: 100px;
}

[class*=currency-flag] span {
    font-size: 12px;
}

[class*=currency-flag]>i {
    font-size: 10px;
    position: absolute;
    top: calc(50% - 5px);
    right: 0;
}

[class*=currency-flag] {
    position: relative;
}

[class*=currency-flag].dropdown-item {
    padding-top: 1px;
    padding-bottom: 1px;
}

[class*=currency-flag].dropdown-item.selected,
[class*=currency-flag].dropdown-item:focus {
    background: #4777DC;
    color: #fff;
}

[class*=currency-flag]::before {
    content: "";
    width: 16px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.currency-flag--usd.active {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 14px;
}

.currencies [class*=flag--usd]::before {
    background-image: url(../../images/flags/usd.svg)
}

.currencies [class*=flag--aud]::before {
    background-image: url(../../images/flags/aud.svg)
}

.currencies [class*=flag--cad]::before {
    background-image: url(../../images/flags/cad.svg)
}

.currencies [class*=flag--dkk]::before {
    background-image: url(../../images/flags/dkk.svg)
}

.currencies [class*=flag--eur]::before {
    background-image: url(../../images/flags/eur.svg)
}

.currencies [class*=flag--gbp]::before {
    background-image: url(../../images/flags/gbp.svg)
}

.currencies [class*=flag--hkd]::before {
    background-image: url(../../images/flags/hkd.svg)
}

.currencies [class*=flag--jpy]::before {
    background-image: url(../../images/flags/jpy.svg)
}

.currencies [class*=flag--nzd]::before {
    background-image: url(../../images/flags/nzd.svg)
}

.currencies [class*=flag--sgd]::before {
    background-image: url(../../images/flags/sgd.svg)
}

.header-menu i {
    font-size: 24px;
}

.header-menu>ul>li:not(:last-child) {
    border-right: 0;
}

.header-menu-left>ul>li {
    padding: 6px;
    font-size: 24px;
}

.search-group>input::-webkit-input-placeholder {
    color: #000;
    opacity: 0.4;
}

.search-group>input::-moz-placeholder {
    color: #000;
    opacity: 0.4;
}

.search-group>input:-ms-input-placeholder {
    color: #000;
    opacity: 0.4;
}

.search-group>input::-ms-input-placeholder {
    color: #000;
    opacity: 0.4;
}

.search-group>input::placeholder {
    color: #000;
    opacity: 0.4;
}

.cart-count {
    position: absolute;
    bottom: -5px;
    right: -5px;
    z-index: 1;
    width: 15px;
    height: 15px;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    -webkit-box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 30%);
            box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 30%);
    background: #F43319;
    border: 1px solid #FFFFFF;
    text-align: center;
    font-family: 'Jost', sans-serif;
    color: #fff;
}

.header-bottom {
    height: 48px;
    line-height: 48px;
}

/* header end */

/* cart popup start */
.cart-popup {
    width: 320px;
    background: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1052;
    -webkit-transform: translate3d(104%, 0, 0);
            transform: translate3d(104%, 0, 0);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.cart-popup.show {
    -webkit-transform: none;
    transform: none;
}

.cart-popup-footer {
    opacity: 0;
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
}

.cart-popup.show .cart-popup-footer {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity .25s cubic-bezier(.25, .46, .45, .94) .45s, transform .25s cubic-bezier(.25, .46, .45, .94) .45s;
    -webkit-transition: opacity .25s cubic-bezier(.25, .46, .45, .94) .45s, -webkit-transform .25s cubic-bezier(.25, .46, .45, .94) .45s;
    transition: opacity .25s cubic-bezier(.25, .46, .45, .94) .45s, -webkit-transform .25s cubic-bezier(.25, .46, .45, .94) .45s;
    transition: opacity .25s cubic-bezier(.25, .46, .45, .94) .45s, transform .25s cubic-bezier(.25, .46, .45, .94) .45s;
    transition: opacity .25s cubic-bezier(.25, .46, .45, .94) .45s, transform .25s cubic-bezier(.25, .46, .45, .94) .45s, -webkit-transform .25s cubic-bezier(.25, .46, .45, .94) .45s
}

.quantity {
    width: 88px;
}

.quantity input[type=number] {
    width: 40px;
    height: 34px;
    background: 0 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    color: #222;
    -moz-appearance: textfield;
}

.quantity input[type=number]::-webkit-outer-spin-button,
.quantity input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity input[type=number]:focus {
    outline: none;
}

.quantity>button {
    border: 2px solid #EEEEEE;
}

.quantity>input[type=number] {
    border-top: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    border-left: 0;
    border-right: 0;
}

.btn-custom {
    height: 48px;
}

.custom-scroll::-webkit-scrollbar {
    display: block
}

.custom-scroll::-webkit-scrollbar {
    width: 3px
}

.custom-scroll::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .15)
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .25)
}
.cart-popup-item  > img {
    display: block;
    aspect-ratio: 100 / 133;
}
/* cart popup end */

/* search start */
.search-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 370;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -sand-transform: translateY(100%);
    -o-transform: translateY(100%);
    -webkit-transition: opacity .25s ease-in-out, visibility .25s, transform .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out, visibility .25s, -webkit-transform .25s ease-in-out;
    transition: opacity .25s ease-in-out, visibility .25s, -webkit-transform .25s ease-in-out;
    transition: opacity .25s ease-in-out, visibility .25s, transform .25s ease-in-out;
    transition: opacity .25s ease-in-out, visibility .25s, transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}

.search-wrapper.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -sand-transform: translateY(0);
    -o-transform: translateY(0);
}

.push-search>i {
    -webkit-transition: .3s;
    transition: .3s;
}

.push-search>.la-times {
    opacity: 0;
    visibility: hidden;
}

.search-opened .push-search>.la-search {
    opacity: 0;
    visibility: hidden;
}

.search-opened .push-search>.la-times {
    opacity: 1;
    visibility: visible;
}

/* search end */

/* home slider start */
.homeSlider {
    visibility: hidden;
}
.homeSlider.swiper-initialized{
    visibility: visible;
}
.homeSlider .slider-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
}

.homeSlider .swiper-button-next:after,
.homeSlider .swiper-button-prev:after {
    color: #000;
}

.homeSlider .slider-image {
    padding-top: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeSlider .swiper-button-prev:after,
.homeSlider .swiper-button-next:after {
    font-size: 20px;
    line-height: 20px;
}

.homeSlider .swiper-button-prev,
.homeSlider .swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
}

.homeSlider .swiper-button-prev:hover,
.homeSlider .swiper-button-next:hover {
    opacity: 0.7;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0 0 4px rgb(0 0 0 / 40%);
            box-shadow: 0 0 4px rgb(0 0 0 / 40%);
}

.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    border: 0;
}

.swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, .9);
}

/* home slider end */

/* home categories start */
.cat-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100%;
}

.cat-name {
    background-color: #F4F6FA;
    padding: 15px 0;
}

.home-categories .cat-image {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;

}

.cat-item:hover .cat-image {
    -webkit-transform: scale(1.11);
            transform: scale(1.11);
}

/* home categories end */

/* product start */
.product-recommend .product-image img {
    display: block;
    aspect-ratio: 3 / 4;
}

.product-labels {
    position: absolute;
    top: 16px;
    right: 0;
}

.product-labels>span[class*="label-"] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 66px;
    height: 30px;
    font-weight: 500;
}

.label-sale {
    background-color: #4777DC;
    color: #fff;
}

.label-new {
    background-color: var(--pink);
    color: #000000;
}

.product-price>span {
    font-weight: 500;
}

.product-price .old-price {
    color: #999999;
    text-decoration: line-through;
}

.product-price .new-price {
    color: #4777DC;
}
.product-buttons {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.product-buttons > a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color : var(--white);
    border-radius: 100%;
    -webkit-transition: opacity 0.1s,background 0.35s,color 0.35s,-webkit-transform 0.1s;
    transition: opacity 0.1s,background 0.35s,color 0.35s,-webkit-transform 0.1s;
    transition: transform 0.1s,opacity 0.1s,background 0.35s,color 0.35s;
    transition: transform 0.1s,opacity 0.1s,background 0.35s,color 0.35s,-webkit-transform 0.1s;
    position: relative;
    color: var(--dark);
}
.product-buttons > a:nth-child(2) {
    -webkit-transition-delay: 75ms;
            transition-delay: 75ms
}
.product-buttons > a:nth-child(3) {
    -webkit-transition-delay: .15s;
            transition-delay: .15s
}
.product-buttons > a:hover {
    background-color: var(--blue);
    color:var(--white);
}
.product-inner:hover .product-buttons > a {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
/* product end */

/* product slider start */
.product-slider .swiper-pagination {
    position: unset;
    bottom: unset;
}

.product-slider .swiper-pagination-bullet {
    margin: 0 10px !important;
}

.product-slider .swiper-button-next:after,
.product-slider .swiper-button-prev:after {
    color: #000;
}

.product-slider .swiper-button-prev:after,
.product-slider .swiper-button-next:after {
    font-size: 20px;
    line-height: 20px;
}

.product-slider .swiper-button-prev,
.product-slider .swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
}

.product-slider .swiper-button-next,
.product-slider .swiper-button-prev {
    top: 35%;
}

/* product slider end */

/* home banner start */
.home-banner [data-banner]{
    display: block;
}
[data-banner="1"]{
    aspect-ratio: 390 / 193;
}
[data-banner="2"],
[data-banner="3"] {
    aspect-ratio: 19 / 8;
}

.banner-image>img {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.banner-inner:hover .banner-image>img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

/* home banner end */

/* blog start */
.post-image>a>img {
    -webkit-transition: .4s;
    transition: .4s;
}

.blog-post:hover .post-image>a>img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.img-hover {
    -webkit-transition: -webkit-transform 1s cubic-bezier(.25, .46, .45, .94);
    transition: -webkit-transform 1s cubic-bezier(.25, .46, .45, .94);
    transition: transform 1s cubic-bezier(.25, .46, .45, .94);
    transition: transform 1s cubic-bezier(.25, .46, .45, .94), -webkit-transform 1s cubic-bezier(.25, .46, .45, .94);
}

.img-hover:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}
.latest-blog .post-image img {
    aspect-ratio: 185 / 139;
    display: block;
}

/* blog end */

/* footer start */
.footerLink>li:not(:last-child) {
    margin-bottom: 12px;
}

.footerLink>li>a {
    color: #000000cc;
}

.footer .right-arrow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #000;
}

.footer .right-arrow i {
    font-size: 10px;
    color: #fff;
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.footer-collapse .menu-open>a>.right-arrow>i {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

ul.social li a i {
    font-size: 20px;
}

.footer .link-title {
    line-height: 28px;
    font-size: 18px;
}
.footer-list + img {
    aspect-ratio: 372 / 35;
}
/* footer end */

/* breadcrumb start */
.breadcrumb-item {
    font-size: 14px;
    line-height: 22px;
    color: #000;
}

.breadcrumb-item.active {
    color: var(--dust);
}

.breadcrumb-item:not(:last-child)::after {
    float: right;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #6c757d;
    content: var(--bs-breadcrumb-divider, "/") /* rtl: var(--bs-breadcrumb-divider, "/") */;
}
.breadcrumb-item + .breadcrumb-item::before {
    display: none;
}
.breadcrumb-item + .breadcrumb-item {
    padding-left:0;
}

/* breadcrumb end */

/* collection banner start */
.text-effect h2 {
    color: var(--winkle);
    line-height: 62px;
    letter-spacing: -0.02em;
    font-weight: 900;
    position: relative;
    z-index: 1;
}

.text-effect h2:after {
    content: attr(data-text);
    color: var(--dark);
    position: absolute;
    bottom: -8px;
    right: 0;
    left: 0;
    z-index: -1;
    text-indent: 2px;
}

.collection-banner .banner-desc h3 {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: -0.02em;
    color: var(--cream);
}

/* collection banner end */

/* filterbar start */
.form-check-input {
    border: 2px solid #E6E6E6!important;
}

.filterbar .form-check-label,
.login-register .form-check-label {
    margin-left: 5px;
}

.form-check-input:checked[type="radio"] {
    background-image: url(../../images/active-check.svg);
    background-color: #fff;
}

ul.filter-sizes li>span {
    width: 40px;
    height: 40px;
    border: 2px solid var(--whisper);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--dark);
    cursor: pointer;
}

ul.filter-sizes li.active>span,
ul.filter-sizes li:hover>span {
    border-color: var(--dark);
}

/* filterbar end */

/* pagination start */
.pagination .page-link {
    border: 0;
    color: var(--dark);
}

.pagination li>a {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.pagination .page-link.active {
    background-color: var(--dark);
    color: var(--white);
}

.page-item:not(:first-child) .page-link {
    margin-right: 5px;
}

/* pagination end */

/* product single start */

.product-thumbs {
    max-height: 568px;
}

.product-thumbs .swiper-slide>img {
    border: 2px solid transparent;
    cursor: pointer;
}

.product-thumbs .swiper-slide>img {
    height: 93px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.product-thumbs .swiper-slide>img.play-icon {
    -o-object-fit: contain;
       object-fit: contain;
}

.product-thumbs .swiper-slide-thumb-active>img {
    border-color: var(--dark);
}
.product-gallery .swiper-slide > img {
    display:block;
    aspect-ratio: 731 / 1024;
}
.product-gallery .swiper-button-next,
.product-gallery .swiper-button-prev {
    border: 2px solid #222;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: var(--dark);
}

.product-gallery .swiper-button-next:not(.swiper-button-disabled):hover,
.product-gallery .swiper-button-prev:not(.swiper-button-disabled):hover {
    background-color: var(--blue);
    color: var(--white);
    border-color: var(--blue);
}

.product-gallery .swiper-button-prev:after,
.product-gallery .swiper-button-next:after {
    font-size: 16px;
    font-weight: 600;
}

.product-gallery:hover .swiper-button-next:not(.swiper-button-disabled),
.product-gallery:hover .swiper-button-prev:not(.swiper-button-disabled) {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}

.product-gallery:hover .swiper-button-next.swiper-button-disabled,
.product-gallery:hover .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.btn-zoom {
    position: absolute;
    right: 12px;
    bottom: 12px;
    z-index: 1;
    width: 38px;
    height: 38px;
    background-color: #000d1d;
    font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--white) !important;
    border-radius: 50%;
}

.btn-zoom:hover {
    background-color: var(--blue);
}

.product-gallery:not(.quick) .swiper-slide {
    cursor: crosshair;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
    border-color: var(--blue);
    border-width: 3px;
}

.fancybox-zoomIn {
    -webkit-animation: 0.25s ease both fancybox-zoomIn;
            animation: 0.25s ease both fancybox-zoomIn;
}

.fancybox-zoomOut {
    -webkit-animation: 0.15s ease both fancybox-zoomOut;
            animation: 0.15s ease both fancybox-zoomOut;
}

@-webkit-keyframes fancybox-zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale(0.75);
                transform: scale(0.75);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes fancybox-zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale(0.75);
                transform: scale(0.75);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@-webkit-keyframes fancybox-zoomOut {
    to {
        opacity: 0;
        -webkit-transform: scale(1.25);
                transform: scale(1.25);
    }
}

@keyframes fancybox-zoomOut {
    to {
        opacity: 0;
        -webkit-transform: scale(1.25);
                transform: scale(1.25);
    }
}
span.swatch-value,
span.size-value {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 44px;
    height: 44px;
    border:2px solid transparent;
    cursor: pointer;
}
span.size-value {
    border-color: var(--whisper);
    font-size: 14px;
    line-height: 22px;
}
ul.select-swatch li.active > span,
ul.select-size li.active > span {
    border-color:var(--dark);
}

.single-quantity .quantity {
    width: 120px;
}
.single-quantity .quantity input[type=number] {
    width: 56px;
    height: 44px;
}
.add-to-bag,
.buy-now,
.checkout {
    letter-spacing: 2px;
}
.letter-2 {
    letter-spacing: 2px;
}
.detail-tabs.nav-tabs .nav-link {
    color: var(--dark);
}
.detail-tabs.nav-tabs .nav-link.active, 
.detail-tabs.nav-tabs .nav-item.show .nav-link {
    background-color: var(--gray);
}
/* product single end */

/* back to top start */
#back-to-top {
    position: fixed;
    bottom: 25px;
    right: 10px;
    z-index: 999;
    width: 36px;
    height: 36px;
    background-color: #111;
    color: #ffff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.17);
            box-shadow: 0 0 5px rgba(0,0,0,.17);
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    text-decoration: none;
}

#back-to-top.active {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
/* back to top end */

/* login register start */
.btn-facebook {
    background-color: #4267B2;
    color:var(--white);
}
.btn-facebook:hover {
    background-color: #4b72c1;
    color:var(--white);
}
.divider {
    position: relative;
    text-align: center;
    margin:0 -40px;
}
.divider::after {
    content:"";
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: var(--whisper);
}
.divider > p {
    position: relative;
    z-index: 1;
    padding: 0 15px;
    background: #fff;
    display: inline-block;
}
.login-register input::-webkit-input-placeholder, .comment-form input::-webkit-input-placeholder, .comment-form textarea::-webkit-input-placeholder {
    font-size: 14px;
}
.login-register input::-moz-placeholder, .comment-form input::-moz-placeholder, .comment-form textarea::-moz-placeholder {
    font-size: 14px;
}
.login-register input:-ms-input-placeholder, .comment-form input:-ms-input-placeholder, .comment-form textarea:-ms-input-placeholder {
    font-size: 14px;
}
.login-register input::-ms-input-placeholder, .comment-form input::-ms-input-placeholder, .comment-form textarea::-ms-input-placeholder {
    font-size: 14px;
}
.login-register input::placeholder, 
.comment-form input::placeholder,
.comment-form textarea::placeholder {
    font-size: 14px;
}
/* login register end */

/* cart start */
.cart-img {
    max-width: 100px;
    width: 100%;
    max-height: 133px;
    -o-object-fit: cover;
       object-fit: cover;
}
.cart-item:not(:last-child) {
    border-bottom:1px solid var(--whisper);
}
.cart-total {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
}
.page-header > h2 ,
.blog-featured-image h2 {
    letter-spacing: -0.02em;
}
/* cart end */

/* globals start */
img.lazyload:not([src]), 
img.swiper-lazy:not([src]) {
	visibility: hidden;
}
.aspect-1-1 {
    aspect-ratio: 1 / 1;
}
.aspect-2-1 {
    aspect-ratio: 2 / 1;
}
.aspect-3-4 {
    aspect-ratio: 3 / 4;
}
.test img {
    display: block;
    aspect-ratio: 2 / 1;
}

/* globals end */

@media(min-width:0px){
    .product-slider .swiper-slide {
        max-width: 50%;
    }
}
@media(min-width:768px){
    .product-slider .swiper-slide {
        max-width: 33.33%;
    }
}
@media(min-width:1024px){
    .product-slider .swiper-slide {
        max-width: 25%;
    }
}

